html,
body {
  height: 100%;
}

#container {
  height: 100%;
  background-color: rgb(228, 254, 134);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#board {
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 200px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-content: center;
  margin: 1rem;
  cursor: pointer;
}
#h1 {
  background-color: rgb(227, 245, 37);
}

#timer {
  font-size: 36px;
  padding: 2rem;
}

#reset_button {
  padding: 2rem;
  font-size: 24px;
}
